@import "../colors.scss";

.room-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donation-window {
  position: absolute;
  top: 10vh;
  background-color: $secondary-color;
  width: max(300px, 60vw);
  z-index: 2;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  color: $primary-color;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;

  .amount-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 80%;
    height: 30px;
    button {
      flex: 1;
      font-size: 12px;
      margin-right: 10px;
      height: 100%;
    }
    button .selected {
      background-color: $primary-color;
      color: $secondary-color;
    }
    input {
      border-radius: 5px;
      flex: 1;
      border: 1px solid rgba(255, 159, 159, 0.673);
      text-align: center;
    }
  }

  .payment-type-btn {
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    button {
      flex: 1;
      margin-inline: 5px;
      height: 100%;
      font-size: 20px;
    }
  }

  .expiry-date-input {
    border: 1px solid rgba(255, 159, 159, 0.673);
    width: 30%;
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    input {
      flex: 1;
      text-align: center;
      border: none;
      text-indent: 0;
    }
    span {
      margin-left: 2px;
      color: rgba(255, 159, 159, 0.673);
    }
  }

  .donation-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
    height: 30px;
    button {
      width: 40%;
      height: 100%;
      margin-inline: 10px;
    }
  }
  p {
    width: 80%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
  }
  input {
    border: none;
    color: $primary-color;
    border-bottom: 1px solid rgba(255, 159, 159, 0.673);
    margin-block: 5px;
    height: 30px;
    width: 80%;
    text-indent: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input:focus {
    color: $primary-color;
  }
  input::placeholder {
    color: $primary-color;
  }
  button {
    background-color: white;
    outline: none;
    border-radius: 10px;
    color: $primary-color;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    transition: 0.5s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
  button:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }
}

.donation-window.hidden {
  transform: translateY(-80vh);
}

.host-info {
  position: absolute;
  top: 8vh;
  right: 0;
  background: linear-gradient(200deg, #ffa2b2, #7eabef);
  width: min(300px, 60vw);
  height: 40vh;
  z-index: 1;
  border-bottom-left-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    aspect-ratio: 1;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 2px $secondary-color;
  }
  p {
    margin-top: 5px;
    color: $secondary-color;
  }
  .button-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-top: 10px;
    button {
      background-color: transparent;
      margin-inline: 10px;
      color: $secondary-color;
      border: none;
      border-radius: 50%;
      font-size: 30px;
    }
    button:hover{
      text-shadow: 0 0 10px $secondary-color
    }
  }
}

.host-info.hidden {
  transform: translateX(60vw) translateY(-70vh);
}

.song-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p,
  h2 {
    color: $primary-color;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  .album-wrapper {
    position: relative;
    aspect-ratio: 1;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 30vh;
    border: none;
    border-radius: 2vh;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    background-color: $secondary-color;
    i,
    img {
      width: 100%;
      height: 100%;
      border-radius: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    i::before {
      font-size: min(250px, 20vh);
    }
  }
}

.lyric-wrapper {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 40vh;
  background-color: transparent;
  overflow: hidden;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-block: 2vh;
  .lyric-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: safe center;
    overflow: scroll;
    li {
      text-shadow: 1px 1px 10px rgba(128, 128, 128, 0.5);
      text-align: center;
      font-size: 2vh;
      margin-block: 5px;
      color: $secondary-color;
      transition: 0.5s;
    }
    li.highlight {
      width: 100%;
      font-size: 2.5vh;
      color: $primary-color;
      background-image: linear-gradient(
        to left,
        transparent,
        $secondary-color,
        $secondary-color,
        transparent
      );
    }
  }
}

.lang-bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 6vh;
  right: 14vw;
  button {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: none;
    background-color: $secondary-color;
    color: $primary-color;
    transition: opacity 0.3s ease;
  }
  button:hover {
    color: $secondary-color;
    background-color: $primary-color;
    cursor: pointer;
  }
}

.lang-selector {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: $secondary-color;
  transition: opacity 0.3s ease;
  li {
    border-radius: 10px;
    color: $primary-color;
    text-align: center;
    width: 100%;
    line-height: 40px;
    transition: 0.5s;
  }
  li:hover {
    cursor: pointer;
    color: $secondary-color;
    background-color: $primary-color;
  }
}

.recommendation {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-block: 10px;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: 0.5s;
  background-color: $secondary-color;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  button {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: $primary-color;
    font-size: 20px;
    font-weight: bold;
  }
  .content {
    width: 90%;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .recommend-unit {
    width: 95%;
    border-radius: 20px;
    margin-block: 10px;
    flex-shrink: 0;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    * {
      margin-block: 5%;
      text-indent: 5%;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
  }
}

.recommendation.hidden {
  transform: translateY(58.5vh);
}

.player-wrapper {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-seekbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2vh;
  width: 70vw;
  margin-block: 10px;
  input[type="range"] {
    width: 80%;
    height: 10px;
    appearance: none;
    background: $secondary-color;
    border-radius: 5px;
    margin-inline: 10px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background: $primary-color;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    box-shadow: -100vw 0 0 99vw $primary-color;
  }
  span {
    width: 10%;
    color: $primary-color;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
}
