@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(200deg, #f3e7e9, #e3eeff);
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  z-index: 3;
}

::-webkit-scrollbar {
  display: none;
}

.error-area {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 100vw;
  z-index: 4;
  .error-content {
    width: 100%;
    background-color: $primary-color;
    color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 5px;
    margin-bottom: 2px;
    pointer-events: auto;
    animation: fade-in-out 3s ease-in-out forwards;
    p {
      font-size: 15px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      text-transform: capitalize;
      text-align: center;
      letter-spacing: 1px;
    }
    button {
      padding: 3px 2px 3px 2px;
      font-size: 15px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      letter-spacing: 1px;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      background-color: $secondary-color;
      color: $primary-color;
    }
    button:hover {
      background-color: $primary-color;
      color: $secondary-color;
      transition: background-color 0.2s ease-in-out color 0.2s ease-in-out;
    }
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.not-found-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-bar {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;
  z-index: 3;
  p {
    flex: 1;
    text-align: center;
    color: $primary-color;
    letter-spacing: 1px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-transform: uppercase;
  }
  button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    height: 8vh;
    border-radius: 1vh;
    background-color: $secondary-color;
    cursor: pointer;
    color: $primary-color;
  }

  i {
    font-size: 200%;
  }

  .menu-toggle span {
    position: absolute;
    aspect-ratio: 10;
    width: 4vh;
    background: $primary-color;
    border-radius: 1vh;
    transition: 0.5s;
  }
  .menu-toggle span:nth-child(1) {
    transform: translateY(-1vh);
  }

  .menu-toggle span:nth-child(3) {
    transform: translateY(1vh);
  }

  .menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg);
  }

  .menu-toggle.active span:nth-child(2) {
    transform: scale(0);
  }

  .menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
  }
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 8vh;
  left: 0;
  width: fit-content;
  height: 100%;
  background-color: white;
  transition: 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 3;
  .nav-item {
    border: none;
    aspect-ratio: 5;
    height: 5vh;
    background-color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $primary-color;
    cursor: pointer;
  }
}

.nav-bar.hidden {
  transform: translateX(-100vw);
}

.player-wrapper {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-seekbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2vh;
  width: 70vw;
  margin-block: 10px;
  input[type="range"] {
    width: 80%;
    height: 10px;
    appearance: none;
    background: $secondary-color;
    border-radius: 5px;
    margin-inline: 10px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background: $primary-color;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    box-shadow: -100vw 0 0 99vw $primary-color;
  }
  span {
    width: 10%;
    color: $primary-color;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
}

.lyric-wrapper {
  display: flex;
  flex-direction: column;
  width: 70vw;
  flex: 1;
  background-color: transparent;
  overflow: hidden;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  z-index: 1;
  transition: 0.5s;
  button {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    aspect-ratio: 1;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: $secondary-color;
    color: $primary-color;
    transition: 0.3s;
    cursor: pointer;
  }
  button:hover {
    color: $secondary-color;
    background-color: $primary-color;
  }
  button.activated{
    color: $secondary-color;
    background-color: $primary-color;
  }
  .lyric-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: safe center;
    overflow: scroll;
    li {
      text-shadow: 1px 1px 10px rgba(128, 128, 128, 0.5);
      text-align: center;
      font-size: 2vh;
      margin-block: 5px;
      color: $secondary-color;
      transition: 0.5s;
    }
    li.highlight {
      width: 100%;
      font-size: 2.5vh;
      color: $primary-color;
      background-image: linear-gradient(
        to left,
        transparent,
        $secondary-color,
        $secondary-color,
        transparent
      );
    }
  }
}

.lang-bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 6vh;
  right: 10vw;
}

.lang-selector {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: $secondary-color;
  transition: opacity 0.3s ease;
  li {
    border-radius: 10px;
    color: $primary-color;
    text-align: center;
    width: 100%;
    line-height: 40px;
    transition: 0.5s;
  }
  li:hover {
    cursor: pointer;
    color: $secondary-color;
    background-color: $primary-color;
  }
}

.room-user-panel {
  position: absolute;
  bottom: 6vh;
  left: 10vw;
  z-index: 1;
  .panel-toggle {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
    aspect-ratio: 1;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: $secondary-color;
    color: $primary-color;
    transition: 0.5s;
    cursor: pointer;
  }
  .panel-toggle:hover {
    color: $secondary-color;
    background-color: $primary-color;
  }

  .expanded-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    border-radius: 15px;
    height: min(400px, 50vh);
    width: max(200px, 65vw);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.5s;

    button{
      border: none;
      aspect-ratio: 1;
      cursor: pointer;
    }

    .panel-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      p {
        width: 100%;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $primary-color;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      }

      button {
        width: 40px;
        position: absolute;
        right: 0;
        color: #ffd7de;
        font-size: 15px;
        background: transparent;
        transition: 0.5s;
      }
      button:hover {
        color: $primary-color;
      }
    }

    .user-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
      width: 100%;
      height: calc(100% - 90px);
      overflow-y: scroll;
      .room-user-info {
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        background: linear-gradient(200deg, #ffd7de, #c0d9ff);
        width: 85%;
        height: 40px;
        border-radius: 15px;
        color: $secondary-color;
        margin-bottom: 5px;
        .profile-img {
          aspect-ratio: 1;
          width: 30px;
          margin-left: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            margin-top: 5px;
            text-align: center;
            font-size: 20px;
          }
        }
        p {
          text-align: center;
          margin-left: 5px;
          font-family: "Times New Roman", Times, serif;
        }
      }
    }

    .chat-box {
      width: 90%;
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 30px;
      margin-bottom: 10px;
      input {
        width: calc(100% - 40px);
        height: 100%;
        border: 1px solid #ffd7de;
        border-radius: 15px;
        text-indent: 10px;
        color: $primary-color;
      }
      button {
        color: $secondary-color;
        background-color: #ffd7de;
        aspect-ratio: 1;
        height: 30px;
        border-radius: 50%;
        transition: 0.5s;
      }
      button:hover {
        background-color: $primary-color;
        box-shadow: none;
      }
    }
  }

  .expanded-panel.hidden {
    transform-origin: left bottom;
    transform: scale(0);
  }
}

.danmu-screen{
  position: absolute;
  padding-top: 10vh;
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
  .chat-message{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(255, 255, 255, 0.22);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 30px;
    padding-inline: 10px;
    border-radius: 10px;
    p{
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }
}